.header {
  padding: 30px 15px;
  display: flex;
  justify-content: space-between;
  box-shadow: -2px -2px 30px rgba(255, 255, 255, 0.7),
    -6px -6px 5px rgba(255, 255, 255, 0.5),
    6px 6px 8px rgba(255, 255, 255, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15);
}
